footer.footer
    .footer__content._container
        .footer__logo 
            img(src="./images/header/logo.svg", alt="")
        .footer__menu
            .footer__row 
                a.footer__link(href="/") Voice over and Subtitle
                a.footer__link(href="/") Media center
                a.footer__link(href="/") Privacy
                a.footer__link(href="/") Contact us
            .footer__row 
                a.footer__link(href="/") Voice Description
                a.footer__link(href="/") Investor Relations
                a.footer__link(href="/") Legal Provisions
            .footer__row 
                a.footer__link(href="/") Help Center
                a.footer__link(href="/") Job Opportunities
                a.footer__link(href="/") Job Opportunities
            .footer__row 
                a.footer__link(href="/") Gift Cards
                a.footer__link(href="/") Terms of Use
                a.footer__link(href="/") Corporate Informations