header.header 
     .header__container._container
        img.header__logo(src="./images/header/logo.svg")
        nav.header__menu.menu
            ul.menu__list
                li.menu__item 
                    a.menu__link(href="nikuda") Home
                li.menu__item 
                    a.menu__link(href="nikuda") TV Shows
                li.menu__item 
                    a.menu__link(href="nikuda") Movies
                li.menu__item 
                    a.menu__link(href="nikuda") Series

        ul.header__options.options
            li.options__item 
                button.options__button.options__button_search
                    img(src="./images/options/search.svg", alt="")
            li.options__item 
                button.options__button.options__button_notice
                    img(src="./images/options/notice.svg", alt="")
            li.options__item 
                button.options__button.options__button_user
                    img(src="./images/options/user.png", alt="")
                