@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  color: #fff;
  background-color: black;
}

// служебные классы

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px 0px 15px;
}

//header

.header {
  margin-top: 17px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 58px;
    padding-top: 10px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    opacity: 0.5;

    &::after {
      content: "";
      opacity: 0;
      margin-top: 10px;
      display: block;
      background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
      border-radius: 50px;
      width: 0px;
      height: 1px;
      transition: all 0.5s;
    }
    &:hover {
      opacity: 1;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.options {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__button {
    opacity: 0.5;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
    }
  }
}
