@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Marcellus:regular);
body {
  color: #fff;
  background-color: black;
  font-family: "Mulish", sans-serif;
}

// служебные классы

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px 0px 15px;
}

//header

.header {
  margin-top: 17px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    list-style: none;
  }

  &__item {
    margin-right: 58px;
    padding-top: 10px;
  }

  &__link {
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-family: "Mulish", sans-serif;
    font-size: 17px;
    opacity: 0.5;

    &::after {
      content: "";
      opacity: 0;
      margin-top: 10px;
      display: block;
      background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
      border-radius: 50px;
      width: 0px;
      height: 1px;
      transition: all 0.5s;
    }
    &:hover {
      opacity: 1;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.options {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__button {
    opacity: 0.5;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
    }
  }
}

//banner block

.banner {
  border-bottom: 2px solid #2f2e2e;
  position: relative;
  overflow: hidden;
  &__container {
  }

  &__image {
    z-index: -1;
    position: absolute;
    right: 0;
  }
  &__content {
    padding-top: 122px;
    padding-bottom: 188px;
    max-width: 562px;
    box-shadow: 100px 0px 100px #000000;
    background-color: #000000;
  }

  &__title {
    margin-top: 0;
    font-family: "Marcellus", sans-serif;
    font-size: 80px;
    line-height: 70px;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__stat {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

  &__year {
    margin-right: 19px;
  }

  &__age {
    margin-right: 19px;
    border-radius: 50px;
    width: 59.75px;
    text-align: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 59.75px;
      height: 24px;
      display: block;
      background: url("./images/border.svg");
      top: calc(50% - 0.7rem);
    }
  }

  &__long {
    margin-right: 50px;
  }

  &__rating {
    margin-right: 10px;
  }

  &__text {
    max-width: 507px;
    font-size: 18px;
    line-height: 28px;
    color: #c2c2c2;
  }
}

.banner {
  &__buttons {
    margin-top: 40px;
    display: flex;
  }

  &__button {
    height: 50px;
    width: 141px;
    padding-left: 30px;
    align-items: center;
    display: flex;
    margin-right: 30px;
    p {
      margin-left: 15px;
    }
  }
}

.button {
  border: none;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  &_blue {
    box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
    background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    color: white;
  }
  &_white {
    width: 195px;
    height: 50px;
    background-color: #fff;
    color: black;
  }
}

//trending

.trending {
  margin-top: 60px;
  margin-bottom: 60px;
  &__info {
    font-size: 28px;
    position: relative;
    padding-left: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    &::before {
      content: "";
      position: absolute;
      border-radius: 50px;
      left: 0;
      width: 8px;
      height: 35px;
      display: block;
      background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 35px;

      top: 0;

      background: url("./images/arrow.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    &_films {
      &::after {
        left: 260px;
      }
    }
    &_shows {
      &::after {
        left: 300px;
      }
    }
    &_genres {
      &::after {
        left: 240px;
      }
    }
  }
  &__films {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__film {
    cursor: pointer;
    width: 206px;
    height: 309px;
    transition: all 0.2s;
    &:hover {
      filter: drop-shadow(0px 0px 20px rgba(44, 176, 249, 0.5));
    }
  }

  &__genres {
    margin-top: 80px;
  }
  &__button {
    margin-top: 55px;
    width: 141px;
    height: 50px;
  }
}
.genres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    flex: 1 1 25%;
    margin-bottom: 10px;
    img {
      min-width: 340px;
    }
  }
}
